<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension-point id="importResolverFactory" name="importResolverFactory" schema="schema/importResolverFactory.exsd"/>
   <extension-point id="blackboxProvider" name="Black box provider" schema="schema/blackboxProviders.exsd"/>
   <extension-point id="javaBlackboxUnits" name="Java blackbox compilation units" schema="schema/javaBlackboxUnits.exsd"/>
    
 <extension name="Java blackbox implementation provider" point="org.eclipse.m2m.qvt.oml.blackboxProvider">
    <provider
          class="org.eclipse.m2m.internal.qvt.oml.blackbox.java.JavaBlackboxProvider">
    </provider>
 </extension>
 
 <extension point="org.eclipse.emf.ecore.generated_package">
   <package 
      uri = "http:///www.eclipse.org/m2m/qvt/operational/trace.ecore" 
      class = "org.eclipse.m2m.internal.qvt.oml.trace.TracePackage"
      genModel = "model/trace.genmodel" /> 
 </extension>
 
 <extension point="org.eclipse.emf.ecore.generated_package">
   <package 
      uri = "http://www.eclipse.org/qvt/1.0.0/Operational/Expressions" 
      class = "org.eclipse.m2m.internal.qvt.oml.expressions.ExpressionsPackage"
      genModel = "model/QVTOperational.genmodel" /> 
 </extension>



 <extension id="QvtBuilder" name="%legacyQvtBuilder" point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true">
         <run class="org.eclipse.m2m.internal.qvt.oml.legacy.QvtMigrationBuilder"/>
      </builder>
   </extension>
                                                          
 <extension point="org.eclipse.core.resources.markers" id="qvtProblem" name="%legacyQvtProblemName">
	<super type="org.eclipse.core.resources.problemmarker"/>
    <super type="org.eclipse.core.resources.textmarker"/>
	<persistent value="true"/>
 </extension>

</plugin>
