<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="Eclipse QVTo API Base Line" sequenceNumber="6">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="3.1.0.v201206041614-7U7A-CL5V0ETk4K7wL253-yIi90n"/>
<repository location="http://download.eclipse.org/releases/juno"/>
</location>
</locations>
<includeBundles/>
</target>
