<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.m2m.qvt.oml.econ2009.tutorial"
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.m2m.qvt.oml.econ2009.tutorial.category"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            id="org.eclipse.m2m.qvt.oml.econ2009.tutorial.wizard"
            icon="icons/pr-MDA.gif"            
            name="QVT Operational EclipseCon2009 Tutorial"
            project="true">
      </wizard>
	      <category
	            id="org.eclipse.m2m.qvt.oml.econ2009.tutorial.category"
	            name="QVT Operational Tutorials"/>            
      
   </extension>
   
   <extension point="org.eclipse.emf.common.ui.examples">
   
      <example wizardID="org.eclipse.m2m.qvt.oml.econ2009.tutorial.wizard"	
      			pageImage="icons/pr-MDA_wizard.gif">

         <projectDescriptor
               contentURI="projects/qvto.ecore2uml/"
               description="%Ecore2UML_description"
               name="qvto.ecore2uml"/>
         
         <projectDescriptor
               contentURI="projects/qvto.ecore2uml.invoke/"
               description="%JavaInvocation_Example_description"
               name="qvto.ecore2uml.invoke"/>
         <projectDescriptor
               contentURI="projects/qvto.uml2xhtml.xsd/"
               description="%UML2XHtml_XSD_description"
               name="qvto.uml2xhtml.xsd"/>
         
         <projectDescriptor
               contentURI="projects/qvto.uml2xhtml.ecore.ext/"
               description="%UML2XHtml_XSD_Ecore_description"
               name="qvto.uml2xhtml.ecore.ext"/>
         
         <projectDescriptor
               contentURI="projects/qvto.uml2xhtml.deployed/"
               description="%UML2XHtml_Source_description"
               name="qvto.uml2xhtml.deployed"/>
         <projectDescriptor
               contentURI="projects/qvto.explained/"
               description="%qvtoExplained_description"
               name="qvto.explained"/>
         
         
      </example>
      
   </extension>

</plugin>
