<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
/**
 * <copyright>
 * </copyright>
 *
 * $Id: plugin.xml,v 1.1 2007/07/29 21:25:41 radvorak Exp $
 */
-->

<plugin
    name = "%pluginName"
    id = "org.eclipse.m2m.tests.qvt.oml.simpleuml"
    version = "1.0.0"
    provider-name = "%providerName">

  <requires>
    <import plugin="org.eclipse.core.runtime" />
    <import plugin="org.eclipse.emf.ecore" export="true"/>
  </requires>

  <runtime>
    <library name="runtime/org.eclipse.m2m.tests.qvt.oml.simpleuml.jar">
      <export name="*"/>
    </library>
  </runtime>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///SimpleUML.ecore" 
       class = "simpleuml.SimpleumlPackage" />
  </extension>

</plugin>

