<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 <extension-point id="codeCompletionCollectors" name="%codeCompletionCollectors" schema="schema/codeCompletionCollectors.exsd"/>
 <extension point="org.eclipse.core.filebuffers.documentSetup">
    <participant
          class="org.eclipse.m2m.qvt.oml.editor.ui.QvtDocumentSetupParticipant"
          extensions="%qvtFileExtension"/>
 </extension>
 <extension point="org.eclipse.ui.editors">
      <editor
            name="%qvtEditor"
            extensions="%qvtFileExtension"
            icon="icons/qvt_src_file.gif"
            contributorClass="org.eclipse.m2m.qvt.oml.editor.ui.QvtEditorActionContributor"
            class="org.eclipse.m2m.qvt.oml.editor.ui.QvtEditor"
            id="org.eclipse.m2m.qvt.oml.editor.ui.QvtEditor">
      </editor>
 </extension>
  <extension
       point="org.eclipse.ui.editors.templates">
    <contextType
          class="org.eclipse.m2m.qvt.oml.editor.ui.QvtTemplateContextType"
          id="org.eclipse.m2m.qvt.oml.templates"
          name="%qvtFileExtension"/>
	<include
  		file="templates/default-templates.xml"
  		translations="$nl$/templates/default-templates.properties">
	</include>
 </extension>
	
	<extension point="org.eclipse.ui.editors.annotationTypes">
      <type
         name="org.eclipse.m2m.qvt.oml.error"
         super="org.eclipse.ui.workbench.texteditor.error"
         markerType="org.eclipse.m2m.qvt.oml.qvtProblem"
         markerSeverity="2">
      </type>
      <type
         name="org.eclipse.m2m.qvt.oml.warning"
         super="org.eclipse.ui.workbench.texteditor.warning"
         markerType="org.eclipse.m2m.qvt.oml.qvtProblem"
         markerSeverity="1">
      </type>  
    </extension>
    
    <extension point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation targetID="org.eclipse.debug.ui.launchActionSet">
         <part id="org.eclipse.m2m.qvt.oml.editor.ui.QvtEditor"/>
      </actionSetPartAssociation>
      
      <actionSetPartAssociation targetID="org.eclipse.ui.edit.text.actionSet.annotationNavigation">
         <part id="org.eclipse.m2m.qvt.oml.editor.ui.QvtEditor"/>
      </actionSetPartAssociation>         
	</extension>
    <extension
          point="org.eclipse.m2m.qvt.oml.editor.ui.codeCompletionCollectors">
       <category
             id="org.eclipse.m2m.qvt.oml.editor.ui.category.templates"
             label="%templatesCategoryName"
             priority="10">
       </category>
       <collector
             category="org.eclipse.m2m.qvt.oml.editor.ui.category.templates"
             class="org.eclipse.m2m.qvt.oml.editor.ui.completion.collectors.TemplateCollector">
       </collector>
    </extension>
</plugin>
