<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/qvt/pivot/1.0/QVTOperationalCS" 
       class = "org.eclipse.qvto.examples.xtext.qvtoperational.qvtoperationalcs.QvtoperationalcsPackage"
       genModel = "org/eclipse/qvto/examples/xtext/qvtoperational/QVTOperational.genmodel" /> 
	
  </extension>




</plugin>
