<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="projectElementsWizards" name="QVT Project Elements Wizard" schema="schema/projectElementsWizards.exsd"/>

   <extension
         point="org.eclipse.ui.newWizards">
             
      <wizard
            category="org.eclipse.m2m.qvt.oml.wizardCategory"
            class="org.eclipse.m2m.qvt.oml.project.wizards.NewQVTProjectWizard"
            icon="icons/pr-MDA.gif"
            id="org.eclipse.m2m.qvt.oml.project.newTransformationProject"
            name="%newTransformationProject"
            project="true">
         <description>
             %newTransformationProjectDesc
         </description>
      </wizard>
   </extension>
   
   <extension
         id="TransformationNature"
         name="%transformationNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.eclipse.m2m.qvt.oml.project.nature.TransformationNatureImpl"/>
      </runtime>
      <builder id="org.eclipse.m2m.qvt.oml.QvtBuilder"/>
   </extension>
   
   <extension point="org.eclipse.ui.ide.projectNatureImages">
 		<image
 			id="org.eclipse.m2m.qvt.oml.project.TransformationNatureImage"
 			natureId="org.eclipse.m2m.qvt.oml.project.TransformationNature"
 		    icon="icons/pr-MDA.gif">
 		</image>
    </extension>   
   
   <extension
         id="BuildApplication"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.eclipse.m2m.qvt.oml.project.builder.BuildApplication"/>
      </application>
   </extension>
 
 <extension point="org.eclipse.ui.decorators"> 
        <decorator
              adaptable="true"
              class="org.eclipse.m2m.qvt.oml.project.builder.Decorator"
              id="com.xyz.decorator"
              label="QVT Source Decorator"
              lightweight="false"
              state="true">
           <enablement>
              <and>
                 <objectClass
                       name="org.eclipse.core.resources.IResource">
                 </objectClass>
                 <objectState
                       name="name"
                       value="icons">
                 </objectState>
              </and>
           </enablement>
        </decorator>
    </extension>

	<extension point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.eclipse.team.cvs.ui.workspaceSynchronization">
         <includes>
            <contentExtension pattern="org.eclipse.qvt.ui.qvtContent"/>
         </includes>
      </viewerContentBinding>
		
	<viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
		<includes>
		<contentExtension pattern="org.eclipse.qvt.ui.qvtContent"/>				
		</includes>
	</viewerContentBinding>
      
   </extension>

	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<navigatorContent
        activeByDefault="true"
        contentProvider="org.eclipse.m2m.qvt.oml.project.NullContentProvider"
        id="org.eclipse.qvt.ui.qvtContent"
        labelProvider="org.eclipse.m2m.qvt.oml.project.QvtProjectLabelProvider"
        name="%commonNavigatorContentName"
        priority="highest">
			<triggerPoints>
				<or>
					<adapt type="org.eclipse.core.resources.IProject" >
						<test property="org.eclipse.core.resources.projectNature" value="org.eclipse.m2m.qvt.oml.project.TransformationNature"/>
					</adapt>
 				</or>
			</triggerPoints>
			<possibleChildren>
			<or>
				<instanceof	value="org.eclipse.core.resources.IFolder" />
    <instanceof
          value="org.eclipse.core.resources.IFile">
    </instanceof>
				</or>				
			</possibleChildren>
   
		</navigatorContent>
          
   </extension>
   
   <extension point="org.eclipse.m2m.qvt.oml.project.projectElementsWizards">
		<wizard refId="org.eclipse.m2m.qvt.oml.ui.wizards.NewQVTTransformationWizard"/>
		<wizard refId="org.eclipse.m2m.qvt.oml.ui.wizards.NewQvtLibraryWizard"/>
   </extension>
   
</plugin>
