<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
   <extension-point id="transformNatureConfigParticipants" name="%transformNatureConfigParticipants" schema="schema/transformNatureConfigParticipants.exsd"/>
   
   <extension point="org.eclipse.m2m.qvt.oml.project.transformNatureConfigParticipants">
      <configParticipant class="org.eclipse.m2m.internal.qvt.oml.project.nature.QvtNatureConfigParticipant"/>
   </extension> 
 
   <extension
         id="TransformationNature"
         name="%transformationNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.eclipse.m2m.internal.qvt.oml.project.nature.TransformationNatureImpl"/>
      </runtime>
      <builder id="org.eclipse.m2m.qvt.oml.QvtBuilder"/>
   </extension>

   <extension point="org.eclipse.ui.ide.projectNatureImages">
 		<image
 			id="org.eclipse.m2m.qvt.oml.project.TransformationNatureImage"
 			natureId="org.eclipse.m2m.qvt.oml.project.TransformationNature"
 		    icon="icons/pr-MDA.gif">
 		</image>
    </extension>   
             
</plugin>
