<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>


   
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/m2m/qvt/oml/testqvt" 
       class = "testqvt.TestqvtPackage"
       genModel = "" /> 
  </extension>
  
   <extension point="org.eclipse.m2m.qvt.oml.emf.util.metamodelProvider">
      <provider class="org.eclipse.m2m.tests.qvt.oml.transform.javaless.JavalessMetamodelProvider"/>
   </extension>
   
   <extension
         point="org.eclipse.m2m.qvt.oml.runtime.qvtTransformation">
      <transformation
            file="parserTestData/models/abstractresult/abstractresult.qvto"
            id="parserTestData.models.abstractresult.abstractresult">
      </transformation>
      <transformation
            file="apiTestData/exec1/exec1.qvto"
            id="apiTestData.exec1.exec1">
      </transformation>
      <transformation
            file="apiTestData/exec3/exec3.qvto"
            id="apiTestData.exec3.exec3">
      </transformation>
      <transformation
            file="apiTestData/exec3_withImport/exec3_withImport.qvto"
            id="apiTestData.exec3_withImport.exec3_withImport">
      </transformation>
   </extension>

   <extension point="org.eclipse.m2m.qvt.oml.ocl.libraries">
      <library class="org.eclipse.m2m.tests.qvt.oml.TestBlackboxLibrary" id="TestBlackboxLibrary">
         <inMetamodel uri="http://www.eclipse.org/emf/2002/Ecore"/>
         <outMetamodel uri="http://www.eclipse.org/emf/2002/Ecore"/>
      </library>
   </extension>

</plugin>
